body {
  background: #3282B8;
  color: black;
  margin-top: 5rem;
  font-family: 'Montserrat', sans-serif;
}

h1{
    color:white;
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

 h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #3282B8;
    
}

.site-header .navbar-nav .nav-link {
  color: #0005;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 30px;
}

form {
    display: inline-block;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #3282B8;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

button{
  background-color:none;
   border: black;
   text-align: center;
   display: inline-block;
   font-size: 20px;
   margin: 4px 2px;
   cursor: pointer;
    
   border-radius:15px;
        color: black;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
}

button:hover{background-color:#3282B8;}

button:focus{background-color:white;}

a {
  color: #3282B8;
}

a.button{
  color:green;
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:active {
  color: blue;
}


