<html>

<head>
    <meta charset="utf-8">
    <title>codegram</title>

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Ubuntu&display=swap" rel="stylesheet">

    <!-- Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/d2b21a0d45.js" crossorigin="anonymous"></script>
</head>
    <body>
    <section class="colored-section" id="title">
        <div class="container-fluid" style="height: 150px" >

            <!-- Nav Bar -->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="">codegram</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                         <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('selection') }}">All Sections</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('submit')}}">Submit Post</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">Sign Out</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        </section>
        <section class="white-section">
        <div class="content-section" >
            <div class="username">
              {%for row_dict in x%}
                <strong>Username: </strong>{{row_dict['author_fullname']}}<br><br>
                <strong>Comment Title: </strong>{{row_dict['title']}} <br><br>
                <strong>Comment Comment: </strong>{{row_dict['selftext']}} <br><br>
                <hr color="gray" size="5">
                 {% endfor %}   
       
            </div>  
        </div>
        </section>
        <footer class="colored-section" id="footer">
          
        <button class="download-button btn btn-lg btn-dark" type="button"><a href="{{ url_for('home') }}" style="color: white">Home</a></button>
        <button class="download-button btn btn-lg btn-light" type="button"><a href="{{ url_for('login') }}" style="color: black">Sign Out</a></button>

        </footer>
    </body>
</html>